#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6
#define ZMK_POINTING_DEFAULT_SCRL_VAL 80

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 11>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <10 11>;
        };
    };

    behaviors {
        encoder_msc_down_up: encoder_msc_down_up {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENCODER_MSC_DOWN_UP";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q       &kp L         &kp U         &kp COMMA    &kp PERIOD                                                    &kp F            &lt 4 W  &lt 4 R  &lt 4 Y  &kp P
&kp E       &kp I         &kp A         &kp O        &kp MINUS      &kp LC(Y)             &none                    &kp K            &lt 5 T  &kp N    &kp S    &kp H
&kp Z       &kp X         &kp C         &kp V        &kp SEMICOLON  &kp LC(Z)             &none                    &kp G            &kp D    &kp M    &kp J    &kp B
&kp ESCAPE  &kp LEFT_WIN  &kp LEFT_ALT  &lt 1 LANG1  &lt 2 LANG2    &mt LSHIFT SPACE      &mt RIGHT_CONTROL ENTER  &lt 1 BACKSPACE                             &none
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        FUNCTION {
            bindings = <
&kp N1  &kp N2  &kp N3  &kp N4  &kp N5                        &kp N6    &kp N7          &kp N8        &kp N9     &kp N0
&none   &none   &none   &none   &none   &none       &kp HOME  &kp LEFT  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &kp DELETE
&none   &none   &none   &none   &none   &trans      &trans    &kp F6    &kp F7          &kp F8        &kp F9     &kp F10
&trans  &trans  &trans  &trans  &trans  &trans      &trans    &trans                                             &kp F11
            >;
        };

        NUM {
            bindings = <
&kp LS(EXCL)      &kp DOUBLE_QUOTES  &kp LS(POUND)  &kp LS(DLLR)   &kp LS(PRCNT)                      &kp AMPS  &kp SINGLE_QUOTE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp AT
&kp LC(W)         &kp LA(D)          &kp LS(T)      &kp LC(S)      &none          &none       &none   &none     &none             &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp ASTERISK
&kp LC(NUMBER_2)  &kp LS(LC(R))      &kp LS(LC(C))  &kp LS(LG(S))  &none          &trans      &trans  &trans    &trans            &kp LESS_THAN         &kp GREATER_THAN       &kp SLASH
&trans            &trans             &trans         &trans         &trans         &trans      &trans  &trans                                                                   &trans
            >;
        };

        ARROW {
            bindings = <
&kp ESCAPE  &kp LS(LC(TAB))   &kp UP_ARROW  &kp LC(TAB)        &trans                       &trans  &trans  &trans  &trans  &trans
&kp HOME    &kp LEFT          &kp DOWN      &kp RIGHT          &kp END  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans      &kp LG(LS(LEFT))  &trans        &kp LG(LS(RIGHT))  &trans   &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans      &trans            &trans        &trans             &trans   &trans      &trans  &trans                          &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &mkp LCLK  &mkp MCLK  &mkp RCLK  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans     &trans     &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans     &trans     &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                   &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_7 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };
    };
};
